.imageWrapper {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.mainImageWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.mainImageWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  transition: left 0.5s ease;
}

.mainImageWrapper:hover::before {
  left: 125%;
}
